
.img {
  width: 100%;
}
.img:hover { 
  cursor: crosshair;
}

.Timer { 
  display: flex;
  position: absolute;
  margin-left: 75%;
  color: green;
  font-size: larger;
}

.Timer:hover {
  color: red;
}
