
.img {
  width: 100%;
}
.img:hover { 
  cursor: crosshair;
}

.Timer { 
  display: flex;
  justify-content: center;
  color: white;
  font-size: larger;
  background-color: darkblue;
}

.Timer:hover {
  color: red;
}
